* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a:active,
a:focus {
    outline-style: none;
}

$tablet: 768px;
@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

$text: #ffffff;
.time-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    @include tablet {
        height: 100vh;
    }
    #timer-label {
        text-align: center;
        color: $text;
        position: absolute;
        letter-spacing: 1px;
        font-weight: bold;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        @include tablet {
            top: 10%;
            font-size: 22px;
            letter-spacing: 2px;
        }
        h3 {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
            font-size: 19px;
            color: $text;
            @include tablet {
                font-size: 31px;
            }
        }
    }
    #pie {
        width: 220px;
        height: 220px;
        display: block;
        position: relative;
        border-radius: 50%;
        //background-color: rgb(27, 27, 27);
        border: 6px solid;
        border-color: blueviolet burlywood cadetblue cyan;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
        margin: 10px;
        @include tablet {
            width: 280px;
            height: 280px;
            top: -5%;
        }
    }
    .block {
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(45deg, #94801f, #de6017);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 220px;
        height: 220px;
        svg {
            width: 220px;
            height: 220px;
            transform: rotateZ(-90deg);
            #circle_animation {
                stroke-dasharray: 679;
                stroke-linecap: butt;
                stroke-width: 4px;
                stroke: #4ffd4f;
                transition: stroke-dashoffset 1s linear;
                fill: none
            }
        }
    }
    #time-left {
        font-size: 3em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f4f4f4;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    }
    .btn-group {
        color: white;
        display: flex;
        padding-bottom: 5px;
        #reset,
        #start_stop {
            padding: 5px;
            margin: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
            border-radius: 5px;
            width: 100px;
            border: none;
            color: $text;
            font-weight: bold;
            font-size: 16px;
            background: #009688;
            cursor: pointer;
            &:hover {
                background: #009666;
            }
            span {
                font-size: 18px;
                @include tablet {
                    font-size: 40px;
                    padding: 9px;
                    color: white;
                }
            }
            @include tablet {
                z-index: 9999;
                margin: 10px;
                border-radius: 15px;
                width: 130px;
            }
        }
    }
}

.degree {
    /*90 + ( 360 * .1 )*/
    background-image: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}

.break-length-box,
.session-length-box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    color: $text;
    font-weight: bold;
    place-items: center;
    padding: 5px;
    @include tablet {
        margin: 35px;
    }
    #break-label,
    #session-label {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
        font-size: 18px;
        color: $text;
        font-variant: small-caps;
        letter-spacing: 1px;
        @include tablet {
            background: rgb(43, 41, 49);
            margin: 10px;
            padding: 15px;
            color: white;
            border-radius: 15px;
            text-align: center;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
        }
    }
    #break-length,
    #session-length {
        border-radius: 5px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
        color: $text;
        font-size: 2em;
        padding: 5px;
        font-variant: small-caps;
    }
    #break-increment,
    #break-decrement,
    #session-increment,
    #session-decrement {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: linear-gradient(25deg, #ea2d2d, burlywood);
        border: none;
        outline: none;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
        color: $text;
        font-size: 2em;
        text-align: center;
        &:hover {
            background: #ff7300;
        }
        @include tablet {
            width: 100px;
            height: 100px;
        }
    }
}


/*------------Main App ------------------------*/

a {
    text-decoration: none;
    color: #ffeb3b;
    cursor: pointer;
}

.pgt-control-btn {
    display: flex;
    justify-content: space-around;
    @include tablet {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        justify-content: space-between;
    }
}


/*----------------------------footer--------------------*/